@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 168 85 247; /* rgb(168, 85, 247) */
    --color-foreground: 24 24 27; /* rgb(24, 24, 27) */
    --color-background: 249 249 249; /* rgb(249, 249, 249) */
    --color-background-alt: 231 231 231; /* rgb(231, 231, 231) */
    --color-positive: 34 197 94; /* rgb(34, 197, 94) */
    --color-negative: 248 113 113; /* rgb(248, 113, 113) */
    --color-warning: 250 204 21; /* rgb(250, 204, 21) */
    --color-info: 45 212 191; /* rgb(45, 212, 191) */
    --color-selected: 59 130 246; /* rgb(59, 130, 246) */
  }
}

/* Override for Leaflet Zoom Controls */
.leaflet-control-zoom.leaflet-bar.leaflet-control {
  border: none;
  top: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
}

.leaflet-bar a:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.leaflet-bar a:last-child {
border-bottom:none;
}
.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.leaflet-bar a.leaflet-control-zoom-in,
.leaflet-bar a.leaflet-control-zoom-out {
  @apply bg-background text-foreground rounded-lg flex justify-center items-center w-10 h-10 text-2xl;
}

.leaflet-bar a.leaflet-control-zoom-in:active,
.leaflet-bar a.leaflet-control-zoom-out:active {
  @apply bg-backgroundAlt;
}

